.box{
    height: 100px;
    width: 200px;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}

.left{
    float: left;
}
.right{
    float: right;
}
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
/* nav styles */
.main-nav{
    height: 75px;
    background-color: gray;
}
.main-nav:hover{
    height: 90px;
}
.logo{
    height: 56px;
    padding: 10px;
}
.logo:hover{
    height: 75px;
}
.nav-list{
    float: right;
    list-style-type: none;
}
li{
    color: white;
    float: left;
    /* 1 top and bottom 2nd left/right */
    padding: 14px 16px;

}
li:hover{
    font-size: 30px;
    padding: 5px 16px;
}
.center{
    text-align: center;
}