.box{
    height: 100px;
    width: 200px;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}

.left{
    float: left;
}
.right{
    float: right;
}
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
/* nav styles */
.main-nav{
    height: 75px;
    background-color: gray;
}
.main-nav:hover{
    height: 90px;
}
.logo{
    height: 56px;
    padding: 10px;
}
.logo:hover{
    height: 75px;
}
.nav-list{
    float: right;
    list-style-type: none;
}
li{
    color: white;
    float: left;
    /* 1 top and bottom 2nd left/right */
    padding: 14px 16px;

}
li:hover{
    font-size: 30px;
    padding: 5px 16px;
}
.center{
    text-align: center;
}
/*  end nav styles */
.content{
    height: 90vh;   
}
/* footer styles */
.footer{
    background-color: gray;
    margin-bottom: 0;
}
.social-media{
    height: 50px;
    margin-bottom: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;

}
.footer-img{
    height: 40px;
    text-align: center;
}
.map{
    padding-left: 30%;
}
.audio{
    display: block;
    padding-left: 30%;
}
.video{
    display: block;
    padding-left: 30%;
}

.margin-0-auto{
    margin: 0 auto;
}
.button{
    border-radius:10px;
    font-size: 24px;
    padding: 10px;
    color: white;
    border: none;
}
.button-success{
    background-color: green;
    border: 1px solid #ccc;
}
.button-default{
    background-color: #ccc;
    color: black;
}
.button-danger{
    width: 250px;
    background-color: red;
}
.button-small{
    width: 150px;
}

/* span  family tree stucture*/
span{
    background-color: yellowgreen;
}
.family > span{
    background-color: orange;

}
ul.social-media > li{
    padding: 20px 24px;
}
.second-span ~ .first-span{
    color: red;
}
/* end family tree structure */

/* media queryies always at the bottom */
@media (max-width: 768px){
    .button{
        font-size: 18px;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .button{
        font-size: 22px;
    }
}